footer{

    background-color: lightseagreen;
    position: fixed;
    width:100%;
    left: 0pt;
    bottom: 0em;
    padding: 1em;
    border-top-style: solid;
    text-align: center;

    
}

footer .nav{
    border-style: none;
    background-color: lightseagreen;
    padding: 0.5em 1em 0.5em 1em; /* Oben,rechts,unten,links*/
}
