select {

    border-radius: 15px;
    background-color: white;
    border-color: white;
    position: relative;
    display: inline-block;

    -webkit-appearance: none;
}

.select-selected {
    background-color: #E29578;
}

.option {
    position: absolute;
    background-color: #FFDDD2;
}







